<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Tapis systems api" verbose="1" parallel="none">
    <groups>
        <run>
            <exclude name="broken"/>
            <exclude name="notReady"/>
        </run>
    </groups>
	<test name="systems">
		<packages>
		   <package name="edu.utexas.tacc.tapis.systems.api.*" /> 
		</packages>
	</test>
</suite>
