<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tapis Tenants client" verbose="1" parallel="none">
    <groups>
        <run>
            <exclude name="broken"/>
            <exclude name="notReady"/>
        </run>
    </groups>
	<test name="tenantsclt">
		<packages>
		   <package name="edu.utexas.tacc.tapis.tenants.client.*" /> 
		</packages>
	</test>
</suite>
