<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Tapis jobs api" verbose="1" parallel="none">
    <groups>
        <run>
            <exclude name="broken"/>
            <exclude name="notReady"/>
        </run>
    </groups>
	<test name="jobs">
		<packages>
		   <package name="edu.utexas.tacc.tapis.jobs.api.*" /> 
		</packages>
	</test>
</suite>
