<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Tapis Systems Service" verbose="1" parallel="none">
  <groups>
    <run>
      <exclude name="broken"/>
      <exclude name="notReady"/>
    </run>
  </groups>
  <test name="systemslib">
    <packages>
      <package name="edu.utexas.tacc.tapis.systems.*" /> 
    </packages>
  </test>
</suite>
